/* Переменные элементов */

:root {
    --primary: oklch(var(--lightness) var(--chroma) var(--hue));
    --accent: oklch(var(--lightness) var(--chroma) calc(var(--hue) + 240));
}

:root {
    --max: calc(999999999);
    --is-light-scheme: clamp(0, calc(0.5 - var(--lightness) * var(--max)), 1);
}

:root {
    /* Surface Body */

    --surface-body-background: oklch(from var(--primary) clamp(0.15, calc((0.5 - l) * var(--max)), 1) 0.03 h);
    --surface-body-color: oklch(from var(--primary) clamp(0, calc((l - 0.5) * var(--max)), 1) 0 0);
    --surface-body-heading-color: var(--primary);
}

:root {
    /* Surface Button Primary */

    --surface-button-primary-background: var(--primary);
    --surface-button-primary-hover-background: oklch(from var(--surface-button-primary-background) calc(l * 1.3) c h);
}

:root {
    /* Surface Button Accent */

    --surface-button-accent-background: transparent;
    --surface-button-accent-color: var(--accent);
    --surface-button-accent-hover-color: oklch(from var(--surface-button-accent-color) calc(l * 1.5) calc(c * 1.5) h);
}

:root {
    /* Surface Menu */

    --surface-menu-background: oklch(from var(--primary) clamp(0.3, calc((0.5 - l) * var(--max)), 0.9) 0.03 h);
    --surface-menu-color: oklch(from var(--surface-menu-background) clamp(0, calc((0.5 - l) * var(--max)), 1) 0 0);
    --surface-menu-heading-color: oklch(from var(--surface-menu-background) clamp(0.3, calc((0.5 - l) * var(--max)), 0.7) c h);
}

:root {
    /* Surface Modal */

    --surface-modal-background: oklch(from var(--surface-body-background) l calc(c * 0.5) h);
    --surface-modal-color: oklch(from var(--surface-modal-background) calc((0.5 - l) * var(--max)) 0 0);
    --surface-modal-heading-color: var(--surface-modal-color);
}



