/* Основные стили элементов */
* {
    transition: all 250ms linear;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    font-size: 2vmin;
    background: var(--surface-body-background);
    color: var(--surface-body-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--surface-body-heading-color);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 1.8rem;
    margin: .5rem 0 1rem;
}

p {
    margin-bottom: 1rem;
}


.container {
    padding: 2rem;
    margin: 0 auto;
    max-width: 800px;
}


.button {
    padding: 1rem 2rem;
    border: 2px solid transparent;
    background: transparent;
    color: var(--primary);
    cursor: pointer;
    border-radius: .25rem;
    text-decoration: none;
    font-size: 1.5rem;
    display: inline-block;
}

/* Surface Button Primary */
.button.primary {
    --background: var(--surface-button-primary-background);
    --color: oklch(from var(--background) clamp(0, calc((0.5 - l) * var(--max)), 1) 0 0);

    background: var(--background);
    color: var(--color);
    border-color: var(--background)
}

.button.primary:hover {
    --background: var(--surface-button-primary-hover-background);

    /*
     магия в том, что мы перезаписываем переменную --background,
     поэтому переменная --color пересчитывается.
     таким образом, цвет текста всегда будет контрастен цвету фона
     */
}

/* Surface Button Accent */
.button.accent {
    --color: var(--surface-button-accent-color);

    color: var(--color);
    border-color: var(--color);
}

.button.accent:hover {
    --color: var(--surface-button-accent-hover-color);
}


/* Surface Menu */
.menu {
    border-radius: .25rem;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 1.5rem 0;
    background: var(--surface-menu-background);
    color: var(--surface-menu-color);
}

.menu h1, .menu h2, .menu h3, .menu h4, .menu h5, .menu h6 {
    color: var(--surface-menu-heading-color);
}


/* Surface Modal */
.modal {
    border-radius: .5rem;
    padding: 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
    margin: 1.5rem 0;
    background: var(--surface-modal-background);
    color: var(--surface-modal-color);
}

.modal h1, .modal h2, .modal h3, .modal h4, .modal h5, .modal h6 {
    color: var(--surface-modal-heading-color);
}
