:root {
    --lightness: 0.6;
    --chroma: 0.1;
    --hue: 186;
}

:root {
    --accent: oklch(var(--lightness) var(--chroma) calc(var(--hue) + 60));
}

:root {
    /* Surface Body */
    --surface-body-background: #333;
}

:root {
    /* Surface Menu */
    --surface-menu-background: #222;
}

:root {
    /* Surface Modal */
    --surface-modal-background: #444;
    --surface-modal-heading-color: oklch(from var(--primary) calc(l * 1.0) c h)
}
